@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Oswald:wght@500&display=swap');

@font-face {
    font-family: "Comfortaa";
    src: url(../site/assets/fonts/Comfortaa-VariableFont_wght.ttf);
}

body {
    background: black;
}

h1:hover {
    cursor: crosshair;
    color: cyan;
}

h1 {
    font-family: "Comfortaa";
    color: green;
    display: flex;
    justify-content: space-around;
    border: 2.5px solid green;
    margin: 40px;
    padding: 20px;
}

p {
    color: green;
    margin: 100px;
    border: 2.5px solid green;
    border-radius: 5px;
    padding: 15px;
    font-family: "Comfortaa";
}
