@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Oswald:wght@500&display=swap');

@font-face {
    font-family: "Comfortaa";
    src: url(../site/assets/fonts/Comfortaa-VariableFont_wght.ttf);
}

body {
    background: rgb(0, 0, 0);
    
}

/* CT. IL FAUDRAIT QUE LE FORM SOIT PARFAIT AVEC LE SUBMIT BTN QUI PREND TOUTE LA PLACE EN BAS ETC SI POSSIBLE, AVEC DEUX INPUT NAME AND EMAIL ET 1 INPUT MESSAGE + SUBMIT BTN
.
.
. */

h1:hover {
    cursor: crosshair;
    color: cyan;
}

h1 {
    font-family: "Comfortaa";
    color: green;
    position: absolute;
    top: 17px;
    left: 63px;
    margin: 0px;
}

.icon {
    background: green;
    margin-top: 5px;
    position: absolute;
    top: 3px;
    left: 7px;
    border-radius: 10px;
    height: 50px;
    width: 50px;
}

p {
    color: green;
    position: absolute;
    top: 200px;
    left: 150px;
    margin: 0px;
    font-family: "Comfortaa";
    width: 700px;
}

form {
    display: grid;
    position: absolute;
    height: 75px;
    top: 350px;
    left: 145px;
    margin: 0px;
    padding: 0px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "li i2"
    "ta ta"
    "vi bt";
}

input, textarea {
    margin: 5px;
    bottom: 1px solid green;
    padding: 10px;
    font-size: 1.1rem;
    font-family: "DMSerif";
    border-radius: 10px;
    border: 2.5px solid green;
}

textarea {
    grid-area: ta;
    height: 40px;
    resize: none;
}

textarea {
    grid-area: ta;
}

#btn-submit {
    grid-area: bt;
    text-align: center;
    cursor: pointer;
    background: green;
    transition: 0.2s;
    width: 100px;
}

#btn-submit:hover {
    background: rgb(0, 64, 0);
    color: black;
}

.image {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 210px;
    left: 900px;
    border: 5px;
    border-radius: 50px;

}
